.speech {
    font-size: 18px;
    color: black;
}


.stage-direction {
    font-size: 19px;
    color: black;
    background-color: chocolate;
}

.stage-direction:hover {
    background-color: darkblue;
    color:darkgrey;
}

.name {
    font-size: 20px;
    color: black;
}

.COMINIUS {
    color:black;
}

.Messenger {
    color:black;
}

.MARCIUS {
    color:black;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    margin: 4px;
    border: 2px solid steelblue;

  }
  
  tr:nth-child(even) {background-color:wheat;}
  
  .name:hover{ 
      color:violet;
      text-shadow: 1px 1px 3px #FF0000;
      border-style: dotted; 
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #dddddd;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        padding: 8px;
      }